@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  background-color: rgb(241, 245, 241);
  box-sizing: border-box;
}

@theme {
  --color-primary: #f42c37;
  --color-brandYellow: #fdc62e;
  --color-brandGreen: #2dcc6f;
  --color-brandBlue: #1376f4;
  --color-brandWhite: #eeeeee;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
